.Content {
    grid-column: 3 / -3 !important;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 1000px) {
  .menu-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}