.Content {
    grid-column: 3 / -3 !important;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 1000px) {
  .menu-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.Reservations-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.App-login-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.App-login-block h1 {
  font-size: 2rem;
  margin: 0.5rem;
}
.App-login-block p {
  margin: 0.5rem;
}