/* Components */
.App {  
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 0;
  padding: 0;
}

.App-header {
  max-width: 1024px;
  grid-column: 3 / -3;
  color: black;
  font-family: 'Karla', sans-serif;
  font-weight: bolder;
  display: flex;
  margin: 1rem 0 1rem 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.App-logo {
  width: 10rem;
  height: auto;
  margin: 0;
}

.App-header nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.App-header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App-header nav li {
  margin: 0 0.5rem;
  white-space: nowrap;
}

@media screen and (max-width: 770px) {
  .App-header {
    grid-column: 1 / -1;
    display: flex;
    margin: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .App-logo {
    width: 10rem;
    height: auto;
    margin: 0; 

  }
  .App-header nav {
    display: flex;
    align-items: center;
  }
  .App-header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .App-header nav li {
    margin: 0 0.5rem;
    white-space: nowrap;
  }
}

@media screen and (max-width: 430px) {
  .App-header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
    flex-wrap: wrap;
    margin: 1rem;
  }
  .App-logo {
  width: 10rem;
  height: auto;
  }
  .App-header nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: 0.25rem;
    text-align: center;
    font-size: 14px;
  }
  .App-header nav li {
    white-space: nowrap;
    margin-top: 0.5rem;
    text-align: right;
  }
}

@media screen {
  .App-header nav {
    margin-left: auto;
    margin-right: right;
  }
  .App-header nav li:hover {
    color: #f4ce14;
    cursor: pointer;
  }
}

.Banner-Background {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  background: linear-gradient(to bottom, #333333 70%, #ffffff 30%);
  opacity: 0.8;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 23rem;
  width: 100%;
}
.Banner {
  max-width: 1024px;
  position: relative;
  grid-row: 2 / 3;
  grid-column: 3 / -3;
  background: #ffffff00;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 23rem;
  width: 100%;
}
.Banner-content{  
  grid-column: 1 / 10;
  z-index: 1;
}
.Banner-image {
  grid-column: 10 / -1;
  margin-top: 1rem;
  width: 20rem;
  border-radius: 18px;
  height: 25rem;
  justify-self: end;
}
@media screen and (max-width: 770px) {
.Banner-content{
  padding-left: 1rem;
  grid-column: 1 / 8;
  z-index: 1;
  text-align: left;
}

.Banner-image {
  grid-column: 8 / -1;
  width: 35vw;
  height: auto;
  margin-top: 1rem;
  }
}
